.grid-container {
    min-height: 100px;
    position: relative;
  }
  
  table.fixed {
    table-layout: fixed;
  }
  
  .centered-text {
    text-align: center;
  }
  
  .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  table.fixed tr>td.centered {
    text-align: center;
  }
  
  table.fixed tr > th:nth-of-type(1) {
    width: 40%;
  }
  table.fixed td > th:nth-of-type(2) {
    width: 20%;
  }
  table.fixed td > th:nth-of-type(3) {
    width: 20%;
  }
  table.fixed td > th:nth-of-type(4) {
    width: 20%;
  }